<!DOCTYPE html>
<html lang="es">

<head>
	<title>Landing Page</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="icon" href="images/logo_transparent.jpg">
	<link rel="stylesheet" href="assets/css/main.css" />
	<noscript>
		<link rel="stylesheet" href="assets/css/noscript.css" />
	</noscript>
</head>

<body class="is-preload">
	<!-- Nav -->
	<nav id="nav">
		<ul class="container">
			<li><a href="#top">Top</a></li>
			<li><a href="#work">Work</a></li>
			<li><a href="#portfolio">Portfolio</a></li>
			<li><a href="#contact">Contact</a></li>
		</ul>
	</nav>

	<!-- Home -->
	<article id="top" class="wrapper style1">
		<div class="container">
			<div class="row">
				<div class="col-4 col-5-large col-12-medium">
					<span class="image fit"><img src="images/pic00.jpg" alt="" /></span>
				</div>
				<div class="col-8 col-7-large col-12-medium">
					<header>
						<h1>Hola, soy <strong>Nombre</strong>.</h1>
					</header>
					<p>
						Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
						Obcaecati soluta quod, laborum autem harum sint ducimus repellat fugit 
						laudantium aut tenetur blanditiis beatae, quis libero quisquam cumque, sequi corporis iure.
					</p>
					<a href="#work" class="button large scrolly">Aprende sobre lo que hago</a>
				</div>
			</div>
		</div>
	</article>

	<!-- Work -->
	<article id="work" class="wrapper style2">
		<div class="container">
			<header>
				<h2>Redes sociales</h2>
				<p>Odio turpis amet sed consequat eget posuere consequat.</p>
			</header>
			<div class="row aln-center">
				<div class="col-4 col-6-medium col-12-small">
					<section class="box style1">
						<a href="generic.html" target="_blank"><span class="icon featured fa-comments" style="cursor: pointer"></span></a>
						<h3>Item 1</h3>
						<p>
							Ornare nulla proin odio consequat sapien vestibulum ipsum primis
							sed amet consequat lorem dolore.
						</p>
					</section>
				</div>
				<div class="col-4 col-6-medium col-12-small">
					<section class="box style1">
					<a href="generic.html" target="_blank"><span class="icon solid featured fa-camera-retro" style="cursor: pointer"></span></a>	
						<h3>item 2</h3>
						<p>
							Ornare nulla proin odio consequat sapien vestibulum ipsum primis
							sed amet consequat lorem dolore.
						</p>
					</section>
				</div>
				<div class="col-4 col-6-medium col-12-small">
					<section class="box style1">
					<a href="generic.html" target="_blank"><span class="icon featured fa-thumbs-up" style="cursor:pointer"></span></a>	
						<h3>Item 3</h3>
						<p>
							Ornare nulla proin odio consequat sapien vestibulum ipsum primis
							sed amet consequat lorem dolore.
						</p>
					</section>
				</div>
			</div>
			<footer>
				<p>Lorem ipsum dolor sit sapien vestibulum ipsum primis?</p>
				<a href="#portfolio" class="button large scrolly">Ver Portafolio</a>
			</footer>
		</div>
	</article>

	<!-- Portfolio -->
	<article id="portfolio" class="wrapper style3">
		<div class="container">
			<header>
				<h2>Aquí hay algunas cosas que hice recientemente.</h2>
				<p>
					Proin odio consequat sapien vestibulum consequat lorem dolore
					feugiat.
				</p>
			</header>
			<div class="row">				
				<div class="col-4 col-6-medium col-12-small" >
					<article class="box style2">
						<img src="images/pic01.jpg" class="image featured" alt="" />
						<h3><a href="generic.html" target="_blank">Magna feugiat</a></h3>
						<p>Ornare nulla proin odio consequat.</p>
					</article>
				</div>
				<div class="col-4 col-6-medium col-12-small">
					<article class="box style2">
						<img src="images/pic02.jpg" class="image featured" alt="" />
						<h3><a href="generic.html" target="_blank">Veroeros primis</a></h3>
						<p>Ornare nulla proin odio consequat.</p>
					</article>
				</div>
				<div class="col-4 col-6-medium col-12-small">
					<article class="box style2">
						<img src="images/pic03.jpg" class="image featured" alt="" />
						<h3><a href="generic.html" target="_blank">Lorem ipsum</a></h3>
						<p>Ornare nulla proin odio consequat.</p>
					</article>
				</div>
				<div class="col-4 col-6-medium col-12-small">
					<article class="box style2">
						<img src="images/pic04.jpg" class="image featured" alt="" />
						<h3><a href="generic.html" target="_blank">Tempus dolore</a></h3>
						<p>Ornare nulla proin odio consequat.</p>
					</article>
				</div>
				<div class="col-4 col-6-medium col-12-small">
					<article class="box style2">
						<img src="images/pic05.jpg" class="image featured" alt="" />
						<h3><a href="generic.html" target="_blank">Feugiat aliquam</a></h3>
						<p>Ornare nulla proin odio consequat.</p>
					</article>
				</div>
				<div class="col-4 col-6-medium col-12-small">
					<article class="box style2">
						<img src="images/pic06.jpg" class="image featured" alt="" />
						<h3><a href="generic.html" target="_blank">Sed amet ornare</a></h3>
						<p>Ornare nulla proin odio consequat.</p>
					</article>
				</div>
			</div>
			<footer>
				<p>Lorem ipsum dolor sit sapien vestibulum ipsum primis?</p>
				<a href="#contact" class="button large scrolly">Ponte en contacto conmigo</a>
			</footer>
		</div>
	</article>

	
<!-- Contact -->
	<div class="container medium">
		<form id="contact" name="contact" method="POST" data-netlify="true">
			<p>
			  <label>Nombre: <input type="text" name="name" /></label>   
			</p>
			<p>
			  <label>Correo Electronico: <input type="email" name="email" /></label>
			</p>
			<p>
			  <label>Mensaje: <textarea name="message"></textarea></label>
			</p>
			<p>
			  <button type="submit">Enviar</button>
			</p>
		  </form>
		  <footer>
			<ul id="copyright">
				<li>&copy; Untitled. All rights reserved.</li>
				<li>Design: <a href="https://www.linkedin.com/in/guadaluperosas182/" target="_blank">Guadalupe Rosas</a></li>
			</ul>
		</footer>
	</div>

	

	<!-- Scripts -->
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/jquery.scrolly.min.js"></script>
	<script src="assets/js/browser.min.js"></script>
	<script src="assets/js/breakpoints.min.js"></script>
	<script src="assets/js/util.js"></script>
	<script src="assets/js/main.js"></script>
</body>

</html>